@font-face{
    font-family: 'OPTICalculator';
    src:url(OPTICalculator.ttf)

}
.tiny5-regular {
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.numeros{
    padding: 15%     ;
    height:700px;
    width: 310px;
    background-color: rgb(25, 25, 26);
}

button{
    height: 90px;
    width: 90px;
    background-color: rgb(109, 119, 119);
    border-radius: 30px;
    font-family: 'OPTICalculator';
    font-size: 20px;
}
#pantalla{
    width: 97%;
    background-color: rgb(25, 25, 26);
    font-size: 50px;
    font-family: 'OPTICalculator'
}
#botonSelecionar{
    color: rgb(253, 253, 253);
    height: 40px;
    background-color: rgb(79, 79, 82);
}
body{
    background-color: rgb(25, 25, 26);
}