
.numeros{
    height:700px;
    width: 450px;
    background-color: rgb(26, 27, 27);
}

button{
    height: 120px;
    width: 120px;
    background-color: rgb(180, 190, 190);
    border-radius: 10px;
}
#pantalla{
    height: 60px;
    width: 440px;
    background-color: rgb(46, 56, 44);
    font-size: 30px;
}